---
import type { Color } from '../../consts';

interface Props {
	icons?: string[];
	title: string;
    color: Color;
}

const { icons, title, color } = Astro.props;
---

<div class="button" style={`background: ${color};`}>
    {
        icons?.map((icon: String) => {
            return <img src={`/${icon}.svg`}></img>
        })
    }

    <p>{title}</p>
</div>

