---
import Button from "./Button.astro";

---

<div class="support">
    <Button icons={["pp"]} title="PayPal" color="#CDE8F0" />
    <Button icons={["btc", "eth"]} title="Crypto" color="#F1D1A1" />
</div>