:root {
    --primary: #F86233;
    --primary-100: #FB7B44;
    --primary-200: #FFA665;
    --light: #FCF4E8;
    --dark: #25171A;
}

/* josefin-sans-regular */
@font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/josefin-sans-v32-latin-regular.woff2') format('woff2');
}

/* josefin-sans-700 */
@font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/josefin-sans-v32-latin-700.woff2') format('woff2');
}

html{
    scroll-behavior: smooth;
}

aside {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    background: var(--primary);
    margin: 0;
    padding: 0;
    color: white;
    width: 320px;
    min-height: calc(100vh);
    max-height: calc(100vh);
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}
aside > div > h1 {
    font-size: 1.15em;
    line-height: 1.1em;
    margin-top: 48px;
}
hr {
    margin: 32px 64px;
}

.contents {
    max-height: calc(100vh - 280px);
    overflow: hidden;
    margin: 0 32px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.contents:hover {
    overflow-y: scroll;
}

.contents::-webkit-scrollbar {
    display:none;
}

aside > footer {
    display: flex;
    justify-content: center;
    gap: 16px;
    background: #E83126;
    width: 100%;
    padding: 20px 0;
}


.chapter {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: 0.8em;
}

.chapter:hover {
    background-color: var(--primary-100);
}

.chapter > p {
    margin: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-align: center;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    background-color: var(--light);
}

.content-box {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 48px;
    
}

.content-box > div {
    margin: auto;
    max-width: 45em;

}
