---
import Support from '../components/Support/Support.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Penguin Companion">
	<main>
        <h2>😞 Sorry, this page doesn't exist!</h2>
        <p>
            If this is a chapter page, it is still being
            being worked on. Please check again later)
        </p>
        <!-- Take me back -->
	</main>
</Layout>