---
import Profile from "../components/Profile.astro";
import Support from "../components/Support/Support.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="About">
    <main>
        <h2>About</h2>
        <div class="about-card">
            <Profile image="./audio.png" name="██████" color="#FF0000">
                native russian speaker</br>
                the voice of the site
            </Profile>
            <Profile image="./dev.png" name="███████" color="#00FFFF">
                learning russian on/off</br>
                making websites for fun :D
            </Profile>
        </div>
        
        <p>
            This is a passion project. If you are interested in supporting us, please consider donating to help cover hosting fees :)
        </p>
        <Support />
    </main>
</Layout>