---
import Profile from "../components/Profile.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="About">
    <main>
        <div class="about-card">
            <Profile image="./audio.png" name="██████" color="#00FFFF">
                native russian speaker</br>
                the voice of the site
            </Profile>
            <Profile image="./dev.png" name="███████" color="#FFF000">
                learning russian</br>
                making websites for fun :D
            </Profile>
        </div>
        
        This is a passion project. If you are interested in supporting us, please consider donating to help cover hosting fees :)
        <!-- Support Us -->
    </main>
</Layout>