---
import Profile from "../components/Profile.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="About">
    <main>
        <div class="about-card">
            <Profile image="./audio.png" name="██████" description="native russian speaker the voice of the site" color="#00FFFF"/>
            <Profile image="./dev.png" name="███████" description="learning russian making websites for fun :D" color="#FFF000"/>
        </div>
        
        This is a passion project. If you are interested in supporting us, please consider donating to help cover hosting fees :)
        <!-- Support Us -->
    </main>
</Layout>