---
import Profile from "../components/Profile.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="About">
    <main>
        <div class="about-card">
            <Profile image="./audio.png" name="██████" description="native russian speaker the voice of the site" color="#00FFFF"/>
            <Profile image="./dev.png" name="███████" description="learning russian making websites for fun :D" color="#FFF000"/>
        </div>
        
        <p>
            <b>DISCLAIMER:</b> This site is not affiliated with Penguin or the author of The New Penguin Russian Course Textbook  (Nicholas J. Brown).
        </p>
        
        <p>
            The New Penguin Russian Course textbook is probably the most recommended textbook for new English-speaking learners but its biggest critique is the lack of accompanying audio.
        </p>
            
        <p>
            As someone using the book to learn, it was also <i>my</i> biggest gripe. So I developed this resource with my friend to provide an easy-to-use site with matching audios :D
        </p>

        <!-- Support Us -->
    </main>
</Layout>