---
import Support from "../components/Support.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Penguin Companion">
    <main>
        <h2>
            Welcome to the The Unofficial New Penguin Russian Course Companion
            Site
        </h2>
        <p>
            Please find links to each of the chapters in the sidebar on the left
        </p>
        <p>
            <b>DISCLAIMER:</b> This site is <u>not</u> affiliated with Penguin or
            the author of The New Penguin Russian Course Textbook (Nicholas J. Brown).
        </p>

        <p>
            The New Penguin Russian Course textbook is probably the most
            recommended textbook for new English-speaking learners but its
            biggest critique is the lack of accompanying audio.
        </p>
        <p>
            As someone using the book to learn, it was also <i>my</i> biggest gripe.
            So I developed this resource with my friend to provide an easy-to-use
            site with matching audios :DDDDDDDDDDDDDDDDDDDDDd
        </p>
        <hr />

        <p>
            <strong>Note:</strong> Currently, only audio up to chapter X is available.
            We are working on the rest of the chapters and they will come out soon™️.
        </p>
        <p>
            This project is being worked on part time as a passion project. If
            you would like to recieve updates more frequently, please consider
            supporting us))
        </p>

        <!-- <Support /> -->
    </main>
</Layout>
