---
import type { Color } from '../consts';

interface Props {
	icons?: string[];
	title: string;
    color: Color;
}

const { icons, title, color } = Astro.props;
---

<div class="button">

</div>

<style>
    
</style>