---
interface Props {
	no: number;
	title: string;
}

const { no, title } = Astro.props;
---
<a href={"/chapter/"+no.toString()}>
    <div class="chapter">
        <p><strong>{no}</strong></p>
        <p>{title}</p>
    </div>
</a>
