---
import type { Color } from '../consts';

interface Props {
	image?: string;
	name: string;
	color?: Color;
}

const { image, name, color } = Astro.props;
---

<div class="profile" style=`border-color:${color};box-shadow:0 0px 4px ${color}55`>
    <img src={image}>
    <div class="profile-content">
        <h4>{name}</h4>
        <slot />
    </div>
</div>
