---
import Chapter from "./Chapter.astro";
import chapters from "../chapters.json";
---

<aside>
    <div>
        <a href="/">
            <div>
                <h1>
                    The Unofficial<br />
                    New Penguin<br />
                    Russian Course<br />
                    Companion Site<br />
                </h1>
            </div>
        </a>
        <hr />
        <div class="contents">
            {
                chapters.map((chapter, index) => (
                    <Chapter no={index + 1} title={chapter} />
                ))
            }
        </div>
    </div>

    <footer>
        <a href="/about">about</a>
        <a href="/devlog">devlog</a>
    </footer>
</aside>
