---
import type { Color } from "../consts";

type colorMap = {
    [key: string]: Color;
};

const colorMappings = {
    progress: "#c1ff87",
} as colorMap;

interface Props {
    tag: string;
}

const { tag } = Astro.props;
const bgColor = colorMappings[tag] || "#ffaf65";
---

<!-- <a href=`/devlog/tags/${tag}`> -->
<span class="tag" style=`background: ${bgColor};`>
    {tag}
</span>
<!-- </a> -->
