---
interface Props {
    title: string;
    ruTitle: string;
}

const { title, ruTitle } = Astro.props
---

<div class="titlebar" id="titlebar">
    <div>
        <h3>{ruTitle}</h3>
        <h3>{title}</h3>
    </div>
</div>