---
const { word, hoverText } = Astro.props;

function fix(text: string) {
    return text
        .replace(/\*\*(.*?)\*\*/g, "<strong>$1</strong>")
        .replace(/\*(.*?)\*/g, "<em>$1</em>");
}
---

<span class="tooltip-container" tabindex="0">
    <Fragment class="tooltip-trigger" set:html={`${fix(word)}*`} />
    <div class="toolTip" set:html={fix(hoverText)} />
</span>
