---
const { word, wordAudio } = Astro.props;
---

<word-span data-word={wordAudio}>
    <span class="word">
        {wordAudio && <img src={`/speaker.svg`} alt="speaker icon" />}
        {word}
    </span>
</word-span>

<script>
    class WordSpan extends HTMLElement {
        constructor() {
            super();
        }

        connectedCallback() {
            const wordSpans = this.querySelectorAll("span.word");
            const wordAudio = this.dataset.word;

            if (wordAudio && wordSpans) {
                wordSpans.forEach((wordSpan) => {
                    wordSpan.addEventListener("click", () => {
                        const audio = new Audio(wordAudio);
                        audio.play();
                    });
                });
            }
        }
    }

    customElements.define("word-span", WordSpan);
</script>
