---
const { word, hoverText, float = "right" } = Astro.props;
import { fix } from "./util.tsx";
---

<span class="tooltip-container" tabindex="0">
    <div class=`tooltip tooltip-${float}` set:html={fix(hoverText)} />
    <Fragment class="tooltip-trigger" set:html={`${fix(word)}*`} />
</span>
